@charset "UTF-8";

@media screen and (min-width: 769px) and (max-width: 992px){

    html, body{
        background-image: linear-gradient( #5F2C82, #482063, #658f8d, #57b9b4);
    }
    main{
        width: 700px;
        height: 285px;
    }

    main picture img{
        width: 250px;
        height: 286px;
        border-radius: 20px 0px 0px 20px;
    }

    main div#contain{
        margin-left: 250px;
        margin-top: -285px;
    }

    main div#contain p{
        margin: 10px 10px 5px 10px;
    }

    main div#caixaemail{
        margin: 2.5px 10px;
        width: 425px;
    }

    main div#caixaemail input#iemail{
        width: 382px;
    }

    main div#caixasenha{
        margin: 2.5px 10px;
        width: 425px;
    }

    main div#caixasenha input#isenha{
        width: 382px;
    }

    main div#botaoentrar{
        margin: -7.5px 10px;
        width: 428px;
    }

    main div#botaoesqueciasenha p {
        display: block;
        width: 405px;
        height: 17px;
        border: 1px solid #5c9c9a;
        border-radius: 7px;
        margin-top: 13px;
        
    }
}

@media screen and (min-width: 993px) {

    html, body{
        background-image: linear-gradient( #5F2C82, #482063, #658f8d, #57b9b4);
    }
    
    main{
        width: 945px;
        height: 350px;
    }

    main picture {
        display: block;
        min-width: 50%;
        min-height: 100%;
        position: absolute;
        left: 50%;
    }

    main picture img{
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }

    main div#contain{
        margin: 0px;
        padding: 0px 10px;
        width: 48%;
        height: 100%;
    }

    main div#contain h1{
        padding: 10px 0px 10px 0px;
        font-size: 1.8em;
    }

    main div#contain p{
        font-size: 1em;
        line-height: 1.6em;
        margin-bottom: 10px;
    }

    main div#caixaemail{
        margin: 2.5px 0px;
        width: 448px;
    }

    main div#caixaemail input#iemail{
        width: 405px;
    }

    main div#caixasenha{
        margin: 2.5px 0px;
        width: 448px;
    }

    main div#caixasenha input#isenha{
        width: 405px;
    }

}
