@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body{
    background-image: url(../imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

main{
    height: 100vh;
}

main section#telefone{
    background-image: url(../imagens/frame-iphone.png);
    width: 311px;
    height: 627px;
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main section#telefone iframe#tela1{
    position: relative;
    left: 7%;
    top: 12.8%;
    width: 267.1px;
    height: 471px;
}

main section#botoes{
    text-align: right;
}

main section#botoes a img{
    width: 40px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.733);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.658);
}

main section#botoes a img:hover{
    transform: translate(-5px, -5px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.582);
    transition-duration: 0.1s;
}